{% extends "base.html" %}

{% block content %}
<html>
  <head>
      <style>
          body { background-color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}
      </style>
    <title>CryptoTweets</title>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-1.0.3.min.css" rel="stylesheet">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.3.min.css" rel="stylesheet">
  </head>
  <body>
    <h1>{{ coin }}</h1>
    {{ div|safe }}
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-1.0.3.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.3.min.js"></script>
    {{ script|safe }}
  </body>
</html>
{% endblock %}